html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header img {
  display: flex;
  width: 2rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: #e2e2e2;
  padding: .75em 1em .6em;
  flex-direction: row;
  justify-content: space-between;
}

header h1{
  position: absolute;
}

header p {
  align-items: center;
  font-size: 1.125rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 1rem;
}

nav a {
  color: #0074d9;
}
